{% extends "layout.html" %}
{% block content %}
    <br>
    <br>
    <h3>The current tool supports the generation of alarm/measurement definition files, in the context of Nokia Telecom Application Server(NTAS).</h3>
    <br>
    <br>
    <h5> In case you have any <b>questions</b> or intend to report a <b>bug</b> please contact the above teams: <br>
        For Administration of Measurements (AoM) : <a href="mailto:I_NTAS_PM_FM_AOM_ADM@internal.nsn.com"><i>Administration of Measurements</i></a><br>
        For Alarms : <a href="mailto:I_NTAS_ATHENS_MEDUSA@internal.nsn.com"><i>Medusa Team</i></a> <br>
        For Measurements : <a href="mailto:I_NTAS_ATHENS_SQUAD_CHIMERA_GMS@internal.nsn.com"><i>Chimera Team</i></a>
    </h5>
{% endblock content %}
