<alarm_definition>
    <name>{{ form.alarm_name.data }}</name>
    <ID>{{ form.alarm_id.data }}</ID>
    <legacy_ID{% if form.legacy_id.data is not none %}>{{ form.legacy_id.data }}</legacy_ID> {% else %}/> {% endif %}
    <internal_id/>
    <edition{% if form.edition.data is not none %}>{{ form.edition.data }}</edition> {% else %}/> {% endif %}
    <revision{% if form.revision.data is not none %}>{{ form.revision.data }}</revision> {% else %}/> {% endif %}
    <text>{{ form.alarm_text.data }}</text>
    <meaning>{{ form.meaning.data }}</meaning>
    <instructions>{{ form.instructions.data }}</instructions>
    <testing_procedure>{{ form.testing_procedure.data }}</testing_procedure>
    <cancelling>{{ form.canceling.data }}</cancelling>
    <alarm_fields>
        {%- for field in form.alarm_fields.data %}
        {%- if (field.alarm_field_name|length) or (field.alarm_field_description|length) or (field.alarm_field_type|length) %}
        <field>
            <field_name>{{ field.alarm_field_name }}</field_name>
            <field_description>{{ field.alarm_field_description }}</field_description>
            <field_type>{{ field.alarm_field_type }}</field_type>
        </field>
        {%- endif %}
        {%- endfor %}
    </alarm_fields>
    <compared_fields>
    {%- if form.compare_fields.data == 'DEFAULT' %}
        <field>service</field>
    {%- elif form.compare_fields.data == 'ALL' %}
        <option>ALL</option>
        <field>service</field>
    {%- else %}
        <field>service</field>
      {%- for field in form.compare_fields_list.data %}
        {%- if field.is_comparable %}
        <field>{{ field.compare_field_name }}</field>
        {%- endif %}
      {%- endfor %}
      {%- for field in form.header_fields_list.data %}
        {%- if field.is_comparable %}
        <field>{{ field.header_field_name }}</field>
        {%- endif %}
      {%- endfor %}
    {%- endif %}
    </compared_fields>
    <severity>
        {%- for field in form.severity.data.split() %}
        {%- if not loop.last %}
        <default_severity>{{ field }}</default_severity>
        {%- else %}
        <default_severity_index>{{ field }}</default_severity_index>
        {%- endif %}
        {%- endfor %}
    </severity>
    {%- if form.alive_time_value.data is not none %}
    <alive_time>{{ form.alive_time_value.data }}</alive_time>
    {%- else %}
    <alive_time>{{ form.alive_time.data }}</alive_time>
    {%- endif %}
    <is_threshold_alarm>{{ form.is_threshold_alarm.data }}</is_threshold_alarm>
    <requires_cancellation>{{ form.requires_cancelation.data }}</requires_cancellation>
    <event_type>{{ form.event_type.data }}</event_type>
    <probable_cause>
        <probable_cause_name>{{ form.probable_cause.data }}</probable_cause_name>
        <probable_cause_index>{{ form.probable_cause_index.data }}</probable_cause_index>
    </probable_cause>
    <profile>{{ form.profile.data | join(',')}}</profile>
    <product>{{ form.product.data }}</product>
    <release>{{ form.product_release.data }}</release>
    <release-increment>0</release-increment>
</alarm_definition>