{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form class="alarm-form" method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                <div class="row">
                    <div class="col-auto mr-auto">
                        <h3>{{ legend }}</h3>
                    </div>
                    <div class="col-auto" style="font-size:small">
                        (<b style="color:red">*</b><b><i> Mandatory fields</i></b>)
                    </div>
                </div>
            </legend>
            <div class="row">
                <div class="col">
                    <!-- Alarm Name -->
                    <div class="form-group">
                        <b style="color:red">*</b>
                        {{ form.alarm_name.label(class="form-control-label") }}
                        <a href="#" data-html="true" data-toggle="popover" data-trigger="hover"
                            title="<center><b>Alarm Name</b>&nbsp(<i>mandatory</i>)</center>"
                            data-content="Unique string identifier of the alarm<br><br><b>Limitation</b>: Only lower case alphanumeric characters and underscores are allowed"><b>&nbsp?</b></a>
                        {% if form.alarm_name.errors %}
                        {{ form.alarm_name(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.alarm_name.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.alarm_name(class="form-control") }}
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <!-- Alarm ID -->
                            <div class="form-group">
                                <b style="color:red">*</b>
                                {{ form.alarm_id.label(class="form-control-label") }}
                                <a href="#" data-html="true" data-toggle="popover" data-trigger="hover"
                                    title="<center><b>Alarm ID</b>&nbsp(<i>mandatory</i>)</center>"
                                    data-content="Contact team Medusa &lt; I_NTAS_ATHENS_MEDUSA@internal.nsn.com &gt;<br>to provide you with the next
                                    available alarm ID.<br><br><b>Limitation</b>: Alarm id value must be within range: 160001-164000"><b>&nbsp?</b></a>
                                {% if form.alarm_id.errors %}
                                {{ form.alarm_id(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.alarm_id.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.alarm_id(class="form-control") }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col">
                            <!-- Legacy ID -->
                            <div class="form-group">
                                {{ form.legacy_id.label(class="form-control-label") }}
                                <a href="#" data-html="true" data-toggle="popover" data-trigger="hover"
                                    title="<center><b>Legacy ID</b>&nbsp(<i>optional</i>)</center>"
                                    data-content="Numeric ID used in legacy product<br><br><b>Limitation</b>: Legacy id value must be within range: 1-25000<br><br>
                                <b>IMPORTANT</b><br> In case a new alarm with legacy id is created, please make sure that file: <b>src/liblalarm/vtas_AFIELDGX.H</b><br> under
                                <b>https://gitlabe1.ext.net.nokia.com/pmod/alarmlib</b> or <b>https://scm.cci.nokia.net/ntas/alarmlib</b> (modularized repo) is also updated!"><b>&nbsp?</b></a>
                                {% if form.legacy_id.errors %}
                                {{ form.legacy_id(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.legacy_id.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.legacy_id(class="form-control") }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Alarm Text -->
            <div class="form-group">
                <b style="color:red">*</b>
                {{ form.alarm_text.label(class="form-control-label") }}
                <a href="#" data-html="true" data-toggle="popover" data-trigger="hover"
                    title="<center><b>Alarm Text</b>&nbsp(<i>mandatory</i>)</center>"
                    data-content="Brief description of the alarm event<br><br><b>Limitations</b>:<ul><li>Alarm text value must contain up to 80 characters</li><li>Only lower case alphanumeric characters, dash(-), dot(.), slash(/) and single space characters are allowed</li><ul>"><b>&nbsp?</b></a>
                {% if form.alarm_text.errors %}
                {{ form.alarm_text(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.alarm_text.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.alarm_text(class="form-control") }}
                {% endif %}
            </div>
            <!-- Meaning -->
            <div class="form-group">
                <b style="color:red">*</b>
                {{ form.meaning.label(class="form-control-label") }}
                <a href="#" data-html="true" data-toggle="popover" data-trigger="hover"
                    title="<center><b>Meaning</b>&nbsp(<i>mandatory</i>)</center>"
                    data-content="Meaning of the alarm, that is, a description of what has happened.<br>Impact of the fault on the functioning of the feature/system."><b>&nbsp?</b></a>
                {% if form.meaning.errors %}
                {{ form.meaning(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.meaning.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.meaning(class="form-control") }}
                {% endif %}
            </div>
            <!-- Effect -->
            <div class="form-group">
                {{ form.effect.label(class="form-control-label") }}
                <a href="#" data-html="true" data-toggle="popover" data-trigger="hover"
                    title="<center><b>Effect</b>&nbsp(<i>optional</i>)</center>"
                    data-content="Description of the alarm's effect (field needed for NIDD)."><b>&nbsp?</b></a>
                {% if form.effect.errors %}
                {{ form.effect(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.effect.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.effect(class="form-control") }}
                {% endif %}
            </div>
            <!-- Instructions -->
            <div class="form-group">
                <b style="color:red">*</b>
                {{ form.instructions.label(class="form-control-label") }}
                <a href="#" data-html="true" data-toggle="popover" data-trigger="hover"
                    title="<center><b>Instructions</b>&nbsp(<i>mandatory</i>)</center>"
                    data-content="Thorough operating instruction for finding out the reason for the fault and for repairing the fault and its consequences."><b>&nbsp?</b></a>
                {% if form.instructions.errors %}
                {{ form.instructions(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.instructions.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.instructions(class="form-control") }}
                {% endif %}
            </div>
            <!-- Testing Procedure -->
            <div class="form-group">
                <b style="color:red">*</b>
                {{ form.testing_procedure.label(class="form-control-label") }}
                <a href="#" data-html="true" data-toggle="popover" data-trigger="hover"
                    title="<center><b>Testing Procedure</b>&nbsp(<i>mandatory</i>)</center>"
                    data-content="Description of required testing equipment, items to be tested, related documents and testing actions and steps."><b>&nbsp?</b></a>
                {% if form.testing_procedure.errors %}
                {{ form.testing_procedure(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.testing_procedure.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.testing_procedure(class="form-control") }}
                {% endif %}
            </div>
            <!-- Canceling -->
            <div class="form-group">
                <b style="color:red">*</b>
                {{ form.canceling.label(class="form-control-label") }}
                <a href="#" data-html="true" data-toggle="popover" data-trigger="hover"
                    title="<center><b>Canceling</b>&nbsp(<i>mandatory</i>)</center>" data-content="Information on how the alarm is canceled<br><br> Examples: <ul>
                    <li>Do not cancel the alarm. The system cancels the alarm automatically when the fault has been corrected. (automatic case)</li>
                    <li>Cancel the alarm manually after correcting the fault (manual case)</li>
                    <ul>"><b>&nbsp?</b></a>
                {% if form.canceling.errors %}
                {{ form.canceling(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.canceling.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.canceling(class="form-control") }}
                {% endif %}
            </div>
            <!-- Severity -->
            <div class="form-group">
                <b style="color:red">*</b>
                {{ form.severity.label(class="form-control-label") }}
                <a href="#" data-html="true" data-toggle="popover" data-trigger="hover"
                    title="<center><b>Severity</b>&nbsp(<i>mandatory</i>)</center>" data-content="Possible severities of the alarm<br><br><b>IMPORTANT!</b><br>Please take into account that <b><i>'Warning'</i></b> severity will result in a notify only alarm i.e not written in
                active db"><b>&nbsp?</b></a>
                {% if form.severity.errors %}
                {{ form.severity(class="form-control col-4 is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.severity.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.severity(class="form-control col-4") }}
                {% endif %}
            </div>
            <!-- Alive Time -->
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <!-- Alive time type -->
                        <b style="color:red">*</b>
                        {{ form.alive_time.label(class="form-control-label") }}
                        <a href="#" data-html="true" data-toggle="popover" data-trigger="hover"
                            title="<center><b>Alive Time</b>&nbsp(<i>mandatory</i>)</center>"
                            data-content="Alive time of the alarm, after which it shall be canceled by the alarm system.<br>Can be specified as the number of seconds the alarm is alive or predefined value."><b>&nbsp?</b></a>
                        {% if form.alive_time.errors %}
                        {{ form.alive_time(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.alive_time.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.alive_time(class="form-control")}}
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <!-- Alive time value in case of SEC_TILL_CANCEL -->
                    <div class="form-group">
                        {{ form.alive_time_value.label(class="form-control-label") }}
                        {% if form.alive_time_value.errors %}
                        {{ form.alive_time_value(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.alive_time_value.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.alive_time_value(class="form-control") }}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Is threshold alarm -->
                <div class="col">
                    <div class="form-group">
                        <b style="color:red">*</b>
                        {{ form.is_threshold_alarm.label(class="form-control-label") }}
                        <a href="#" data-html="true" data-toggle="popover" data-trigger="hover"
                            title="<center><b>Is threshold alarm</b>&nbsp(<i>mandatory</i>)</center>"
                            data-content="True if the alarm is related to a threshold (e.g. error ratio counter) being crossed"><b>&nbsp?</b></a>
                        {% if form.is_threshold_alarm.errors %}
                        {{ form.is_threshold_alarm(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.is_threshold_alarm.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.is_threshold_alarm(class="form-control") }}
                        {% endif %}
                    </div>
                </div>
                <!-- Requires cancelation -->
                <div class="col">
                    <div class="form-group">
                        <b style="color:red">*</b>
                        {{ form.requires_cancelation.label(class="form-control-label") }}
                        <a href="#" data-html="true" data-toggle="popover" data-trigger="hover"
                            title="<center><b>Requires cancelation</b>&nbsp(<i>mandatory</i>)</center>"
                            data-content="True if the alarm needs to be canceled by the user"><b>&nbsp?</b></a>
                        {% if form.requires_cancelation.errors %}
                        {{ form.requires_cancelation(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.requires_cancelation.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.requires_cancelation(class="form-control") }}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <!-- Event Type -->
                    <div class="form-group">
                        <b style="color:red">*</b>
                        {{ form.event_type.label(class="form-control-label") }}
                        <a href="#" data-html="true" data-toggle="popover" data-trigger="hover"
                            title="<center><b>Event Type</b>&nbsp(<i>mandatory</i>)</center>"
                            data-content="Classification regarding the type of the alarm event"><b>&nbsp?</b></a>
                        {% if form.event_type.errors %}
                        {{ form.event_type(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.event_type.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.event_type(class="form-control") }}
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <!-- Probable Cause -->
                    <div class="form-group">
                        <b style="color:red">*</b>
                        {{ form.probable_cause.label(class="form-control-label") }}
                        <a href="#" data-html="true" data-toggle="popover" data-trigger="hover"
                            title="<center><b>Probable Cause</b>&nbsp(<i>mandatory</i>)</center>"
                            data-content="Classification regarding the probable cause of the alarm event"><b>&nbsp?</b></a>
                        {% if form.probable_cause.errors %}
                        {{ form.probable_cause(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.probable_cause.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.probable_cause(class="form-control") }}
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- Alarm Fields -->
            <div class="form-group alarm-fields">
                <label class="form-control-label">Alarm fields</label>
                <a href="#" data-html="true" data-toggle="popover" data-trigger="hover"
                    title="<center><b>Alarm Fields</b>&nbsp(<i>optional</i>)</center>"
                    data-content="User-defined fields that the alarm can provide about the fault event<br><br>
                   <b>Limitation</b>: Only lower case alphanumeric characters and underscores are allowed in the name field"><b>&nbsp?</b></a>
                {% for field in form.alarm_fields %}

                {%- if loop.index == 1 %}
                <div class="input-group control-group after-add-more-alarm-fields">
                    {{ field.hidden_tag() }}
                    {%- else %}
                    <div class="input-group control-group alarm-field" style="margin-top:10px">
                        {{ field.hidden_tag() }}
                        {%- endif %}
                        <div class="container">
                            <div class="form-row">
                                <div class="col-3">
                                    {% if field.alarm_field_name.errors %}
                                    {{ field.alarm_field_name(class="form-control alarm_field_name is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in field.alarm_field_name.errors %}
                                        <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ field.alarm_field_name(class="form-control alarm_field_name") }}
                                    {% endif %}
                                </div>
                                <div class="col-6">
                                    {% if field.alarm_field_description.errors %}
                                    {{ field.alarm_field_description(class="form-control alarm_field_description is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in field.alarm_field_description.errors %}
                                        <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ field.alarm_field_description(class="form-control alarm_field_description") }}
                                    {% endif %}
                                </div>
                                <div class="col-2">
                                    {% if field.alarm_field_type.errors %}
                                    {{ field.alarm_field_type(class="form-control alarm_field_type is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in field.alarm_field_type.errors %}
                                        <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ field.alarm_field_type(class="form-control alarm_field_type") }}
                                    {% endif %}
                                </div>
                                {% if loop.index == 1 %}
                                <div clas="col-1" style="margin-left:auto">
                                    <button class="btn btn-md btn-success add-alarm-field" type="button"><i
                                            class="fas fa-plus"></i></button>
                                </div>
                                {%- else %}
                                <div clas="col-1" style="margin-left:auto">
                                    <button class="btn btn-danger remove-alarm-field" type="button"
                                        style="margin-left:auto"><i class="fas fa-trash-alt"></i></button>
                                </div>
                                {%- endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- Copy Alarm Fields -->
                    <div class="copy-alarm-field d-none">
                        <div class="input-group control-group alarm-field" style="margin-top:10px">
                            {{ form.alarm_fields[0].hidden_tag() }}
                            <div class="container">
                                <div class="form-row">
                                    <div class="col-3">
                                        <input class="form-control alarm_field_name" placeholder="Field name"
                                            type="text">
                                    </div>
                                    <div class="col-6">
                                        <textarea class="form-control alarm_field_description"
                                            placeholder="Field description" type="text"></textarea>
                                    </div>
                                    <div class="col-2">
                                        <input class="form-control alarm_field_type" placeholder="Field type"
                                            type="text">
                                    </div>
                                    <div clas="col-1" style="margin-left:auto">
                                        <button class="btn btn-danger remove-alarm-field" type="button"
                                            style="margin-left:auto"><i class="fas fa-trash-alt"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Compared Fields -->
                <div class="form-group">
                    <b style="color:red">*</b>
                    {{ form.compare_fields.label(class="form-control-label") }}
                    <a href="#" data-html="true" data-toggle="popover" data-trigger="hover"
                        title="<center><b>Compared Fields</b>&nbsp(<i>mandatory</i>)</center>" data-content="Compared fields options:
                   <ul>
                    <li><b>Default</b>, which indicates that the uniqueness of the alarm event will be determined only by <b>service</b> header field</li>
                    <li><b>List</b>, which means that the user is able to choose among the User-defined and Header fields the ones to be compared by marking the comparable cell to true.</li>
                    <li><b>All</b>, which means that all User-defined fields are to be compared.<br>If any of these fields changes, a different alarm instance will be created in active db.</li>
                  </ul>"><b>&nbsp?</b></a>
                    {% if form.compare_fields.errors %}
                    {{ form.compare_fields(class="form-control col-3 is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.compare_fields.errors %}
                        <span>{{ error }}</span>oot

                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.compare_fields(class="form-control col-3") }}
                    {% endif %}
                    <div class="container table-compared-fields" style="padding-top:2px">
                        {%- if form.compare_fields.data != 'DEFAULT' %}
                        <table class="table table-hover user-defined-fields">
                            <caption style="caption-side:top">User-Defined Fields</caption>
                            <thead>
                                <tr>
                                    <th>Comparable</th>
                                    <th>Field Name</th>
                                    <th>Field Description</th>
                                    <th>Field Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%- for field in form.compare_fields_list %}
                                {{ field.hidden_tag() }}
                                <tr>
                                    {%- if form.compare_fields.data == 'ALL' %}
                                    <td style="padding-left:5%">
                                        {{ field.is_comparable(class="form-check", checked=true, disabled=true) }}</td>
                                    {% else %}
                                    <td style="padding-left:5%">{{ field.is_comparable(class="form-check") }}</td>
                                    {% endif %}
                                    <td>
                                        {% if field.compare_field_name.errors %}
                                        {{ field.compare_field_name(class="form-control is-invalid", readonly=true) }}
                                        <div class="invalid-feedback">
                                            {% for error in field.compare_field_name.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ field.compare_field_name(class="form-control compare_field_name", readonly=true) }}
                                    </td>
                                    {% endif %}
                                    <td>
                                        {% if field.compare_field_description.errors %}
                                        {{ field.compare_field_description(class="form-control is-invalid", readonly=true) }}
                                        <div class="invalid-feedback">
                                            {% for error in field.compare_field_description.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ field.compare_field_description(class="form-control compare_field_description", readonly=true) }}
                                    </td>
                                    {% endif %}
                                    <td>
                                        {% if field.compare_field_type.errors %}
                                        {{ field.compare_field_type(class="form-control is-invalid", readonly=true) }}
                                        <div class="invalid-feedback">
                                            {% for error in field.compare_field_type.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ field.compare_field_type(class="form-control compare_field_type", readonly=true) }}
                                    </td>
                                    {% endif %}
                                </tr>
                                {%- endfor %}
                            </tbody>
                        </table>
                        {%- endif %}
                        <table class="table table-hover header-fields">
                            <caption style="caption-side:top">Header Fields</caption>
                            <thead>
                                <tr>
                                    <th>Comparable</th>
                                    <th>Field Name</th>
                                    <th>Field Description</th>
                                    <th>Field Type</th>
                                </tr>
                            </thead>
                            {%- if form.compare_fields.data == 'LIST' %}
                            <tbody>
                                {%- for field in form.header_fields_list %}
                                {{ field.hidden_tag() }}
                                <tr>
                                    {%- if field.header_field_name.data == 'service' %}
                                    <td style="padding-left:5%">{{ field.is_comparable(class="form-check", checked=true, disabled=true) }}</td>
                                    {%- else %}
                                    <td style="padding-left:5%">{{ field.is_comparable(class="form-check") }}</td>
                                    {%- endif %}
                                    <td>
                                        {% if field.header_field_name.errors %}
                                        {{ field.header_field_name(class="form-control is-invalid", readonly=true) }}
                                        <div class="invalid-feedback">
                                            {% for error in field.header_field_name.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ field.header_field_name(class="form-control header_field_name", readonly=true) }}
                                    </td>
                                    {% endif %}
                                    <td>
                                        {% if field.header_field_description.errors %}
                                        {{ field.header_field_description(class="form-control is-invalid", readonly=true) }}
                                        <div class="invalid-feedback">
                                            {% for error in field.header_field_description.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ field.header_field_description(class="form-control header_field_description", readonly=true) }}
                                    </td>
                                    {% endif %}
                                    <td>
                                        {% if field.header_field_type.errors %}
                                        {{ field.header_field_type(class="form-control is-invalid", readonly=true) }}
                                        <div class="invalid-feedback">
                                            {% for error in field.header_field_type.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ field.header_field_type(class="form-control header_field_type", readonly=true) }}
                                    </td>
                                    {% endif %}
                                </tr>
                                {%- endfor %}
                            </tbody>
                            {%- else %}
                            <tbody>
                                <input id="header_fields_list-1-csrf_token" name="header_fields_list-1-csrf_token" type="hidden">
                                <tr>
                                    <td style="padding-left:5%">
                                        <input class="form-check-input header_fields_list-1-is_comparable" type="checkbox" id="header_fields_list-1-is_comparable" name="header_fields_list-1-is_comparable" checked="checked" disabled="">
                                    </td>
                                    <td>
                                        <input class="form-control header_field_name" id="header_fields_list-1-header_field_name" name="header_fields_list-1-header_field_name" type="text" readonly="" value="service">
                                    </td>
                                    <td>
                                        <textarea class="form-control input-lg header_field_description" id="header_fields_list-1-header_field_description" name="header_fields_list-1-header_field_description" type="text" readonly="">For applications it is based on pod name, for infra components the log shipper can add this</textarea>
                                    </td>
                                    <td>
                                        <input class="form-control header_field_type" id="header_fields_list-1-header_field_type" name="header_fields_list-1-header_field_type" type="text" readonly="" value="string">
                                    </td>
                                </tr>
                            </tbody>
                            {%- endif %}
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <!-- Product -->
                        <div class="form-group">
                            <b style="color:red">*</b>
                            {{ form.product.label(class="form-control-label") }}
                            <a href="#" data-html="true" data-toggle="popover" data-trigger="hover"
                                title="<center><b>Product</b>&nbsp(<i>mandatory</i>)</center>"
                                data-content="Specify the product for which the alarm is used"><b>&nbsp?</b></a>
                            {% if form.product.errors %}
                            {{ form.product(class="form-control is-invalid", readonly=true) }}
                            <div class="invalid-feedback">
                                {% for error in form.product.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.product(class="form-control", readonly=true) }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col">
                        <!-- Product Release -->
                        <div class="form-group">
                            <b style="color:red">*</b>
                            {{ form.product_release.label(class="form-control-label") }}
                            <a href="#" data-html="true" data-toggle="popover" data-trigger="hover"
                                title="<center><b>Product Release</b>&nbsp(<i>mandatory</i>)</center>"
                                data-content="Specify the release for which the alarm is used"><b>&nbsp?</b></a>
                            {% if form.product_release.errors %}
                            {{ form.product_release(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.product_release.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.product_release(class="form-control") }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- Profile -->
                <div class="form-group">
                    <b style="color:red">*</b>
                    {{ form.profile.label(class="form-control-label") }}
                    <a href="#" data-html="true" data-toggle="popover" data-trigger="hover"
                        title="<center><b>Profile</b>&nbsp(<i>mandatory</i>)</center>"
                        data-content="Service profile(s) of the alarm"><b>&nbsp?</b></a>
                    {% if form.profile.errors %}
                    {{ form.profile(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.profile.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.profile(class="form-check") }}
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col">
                        <!-- Edition -->
                        <div class="form-group">
                            {{ form.edition.label(class="form-control-label") }}
                            <a href="#" data-html="true" data-toggle="popover" data-trigger="hover"
                                title="<center><b>Edition</b>&nbsp(<i>mandatory</i>)</center>"
                                data-content="Edition number of the alarm definition"><b>&nbsp?</b></a>
                            {% if form.edition.errors %}
                            {{ form.edition(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.edition.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.edition(class="form-control") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col">
                        <!-- Revision -->
                        <div class="form-group">
                            {{ form.revision.label(class="form-control-label") }}
                            <a href="#" data-html="true" data-toggle="popover" data-trigger="hover"
                                title="<center><b>Revision</b>&nbsp(<i>optional</i>)</center>"
                                data-content="Revision number of the alarm definition"><b>&nbsp?</b></a>
                            {% if form.revision.errors %}
                            {{ form.revision(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.revision.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.revision(class="form-control") }}
                            {% endif %}
                        </div>
                    </div>
                </div>
        </fieldset>
        <div class="row">
            <div class="col">
                <div class="form-group text-left">
                    <!-- Reset button -->
                    <button class="btn btn-outline-secondary reset-all" type="button">
                        <i class="fas fa-broom"> Reset</i>
                    </button>
                </div>
            </div>
            <div class="col">
                <div class="form-group text-right">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock content %}