{% extends "layout.html" %}
{% block content %}
<div class="row content-section">
    <div class="col-12">
        <form class="counter-form" method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    <div class="row">
                        <div class="col-auto mr-auto">
                            <h3>{{ legend }}</h3>
                        </div>
                        <div class="col-auto" style="font-size:small">
                            (<b style="color:red">*</b><b><i> Mandatory fields</i></b>)
                        </div>
                    </div>
                </legend>
                <div class="form-row">
                    <div class="col">
                        <!-- Measurement name -->
                        <div class="form-group">
                            <b style="color:red">*</b>
                            {{ form.measurement_name.label(class="form-control-label") }}
                            <a href="#"
                               data-html="true"
                               data-toggle="popover"
                               data-trigger="hover"
                               title="<center><b>Measurement Name</b>&nbsp(<i>Mandatory</i>)</center>"
                               data-content="<center>The abbreviation of the measurement.<br>Should be in capital letters and up to 4 length.<br> Example: TCAT</center>"><b>&nbsp?</b></a>
                            {% if form.measurement_name.errors %}
                                {{ form.measurement_name(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.measurement_name.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.measurement_name(class="form-control") }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="col">
                        <!-- Measurement ID -->
                        <div class="form-group">
                            <b style="color:red">*</b>
                            {{ form.measurement_id.label(class="form-control-label") }}
                            <a href="#"
                               data-html="true"
                               data-toggle="popover"
                               data-trigger="hover"
                               title="<center><b>Measurement ID</b>&nbsp(<i>Mandatory</i>)</center>"
                               data-content="<center>The display ID of the measurement. To request a new measurement ID, please contact the PM NIDD team.<br>Example: 131</center>"><b>&nbsp?</b></a>
                            {% if form.measurement_id.errors %}
                                {{ form.measurement_id(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.measurement_id.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.measurement_id(class="form-control") }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <!-- Presentation -->
                        <div class="form-group">
                            <b style="color:red">*</b>
                            {{ form.measurement_presentation.label(class="form-control-label") }}
                            <a href="#"
                               data-html="true"
                               data-toggle="popover"
                               data-trigger="hover"
                               title="<center><b>Measurement Presentation</b>&nbsp(<i>Mandatory</i>)</center>"
                               data-content="<center>
                              The full descriptive name of the measurement,<br> followed by the id in decimal and hexadecimal format.<br>Example: Clear code measurement (131/83H)</center>"><b>&nbsp?</b></a>
                            {% if form.measurement_presentation.errors %}
                                {{ form.measurement_presentation(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.measurement_presentation.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.measurement_presentation(class="form-control") }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="col">
                        <!-- Measurement Description -->
                        <div class="form-group">
                            <b style="color:red">*</b>
                            {{ form.measurement_description.label(class="form-control-label") }}
                            <a href="#"
                               data-html="true"
                               data-toggle="popover"
                               data-trigger="hover"
                               title="<center><b>Measurement Description</b>&nbsp(<i>Mandatory</i>)</center>"
                               data-content="<center>A short description of the measurement, <br>as well as a description for each of the fields of the Network Profile</center>"><b>&nbsp?</b></a>
                            {% if form.measurement_description.errors %}
                                {{ form.measurement_description(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.measurement_description.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.measurement_description(class="form-control") }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <!-- Network profile -->
                        <div class="form-group">
                            <b style="color:red">*</b>
                            {{ form.measurement_network_profile.label(class="form-control-label") }}
                            <a href="#"
                               data-html="true"
                               data-toggle="popover"
                               data-trigger="hover"
                               title="<center><b>Network profile</b>&nbsp(<i>Mandatory</i>)</center>"
                               data-content="<center>The Network Profile of the measurement. It is the same field with objectDN separated by - <br>Example: NTAS-SMSCM-TYPE </center>"><b>&nbsp?</b></a>
                            {% if form.measurement_network_profile.errors %}
                                {{ form.measurement_network_profile(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.measurement_network_profile.errors %}
                                        <span> {{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.measurement_network_profile(class="form-control") }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="col">
                        <!-- Measurement category -->
                        <div class="form-group">
                            <b style="color:red">*</b>
                            {{ form.measurement_category.label(class="form-control-label") }}
                            <a href="#"
                               data-html="true"
                               data-toggle="popover"
                               data-trigger="hover"
                               title="<center><b>Category</b>&nbsp(<i>Mandatory</i>)</center>"
                               data-content="<center>The general category for this measurement."><b>&nbsp?</b></a>
                            {% if form.measurement_category.errors %}
                                {{ form.measurement_category(class="form-control col-12 is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.measurement_category.errors %}
                                        <span> {{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.measurement_category(class="form-control col-12") }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="col">
                        <!-- Measurement Profile -->
                        <div class="form-group">
                            <b style="color:red">*</b>
                            {{ form.measurement_profile.label(class="form-control-label") }}
                            <a href="#"
                               data-html="true"
                               data-toggle="popover"
                               data-trigger="hover"
                               title="<center><b>The NTAS Service Profile of the measurement.</b>&nbsp(<i>Mandatory</i>)</center>"
                               data-content="<center>Can be one value or more.</center>"><b>&nbsp?</b></a>
                            {% if form.measurement_profile.errors %}
                                {{ form.measurement_profile(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.measurement_profile.errors %}
                                    <span> {{ error }} </span>
                                {% endfor %}
                            </div>
                            {% else %}
                                {{ form.measurement_profile(class="form-control") }}
                            {% endif %}
                        </div>
                    </div>
                </div>

                
                <div class="form-row counter-section">
                    <div class="col-12">

                        <!-- Counters label -->
                        <label class="form-control-label">Counters</label>
                        <b style="color:red">*</b>
                        <a href="#"
                           data-html="true"
                           data-toggle="popover"
                           data-trigger="hover"
                           title="<center><b>Basic Counter fields</b>&nbsp(<i>Required</i>)</center>"
                           data-content=""><b>&nbsp?</b></a>
                        <!-- end of Counters label -->

                        <!-- Counter group --> 
                        <div class="form-group counter-group counter_fields">
                            {% for field in form.counter_fields %}
                            
                            <!-- Counter group fields -->
                            <div class="form-row counter-fields border">
                                <div class="col-12">
                                    <!-- Counter_name CounterID ObjectDN -->
                                    <div class="form-row counter-name-id-dn">
                                        <div class="col-1 mt-3 mb-3">
                                            <button class="btn btn-primary btn-sm mt-3 mb-3 ml-3 expand-button" type="button">
                                                <i class="fa fa-caret-down"></i>
                                            </button>
                                        </div>
                                        <div class="col-3 mt-3 mb-3">
                                            <b style="color:red">*</b>
                                            {{ field.counter_field_name.label(class="form-control-label") }}
                                            <a href="#"
                                               data-html="true"
                                               data-toggle="popover"
                                               data-trigger="hover"
                                               title="<center><b>Counter name</b>&nbsp(<i>Mandatory</i>)</center>"
                                               data-content="<center>Name of counter.<br>Example: CCMEAS_SIGNALLING</center>"><b>&nbsp?</b></a>
                                            {% if field.counter_field_name.errors %}
                                                {{ field.counter_field_name(class="form-control counter_field_name is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in field.counter_field_name.errors %}
                                                    <span>{{ error }} </span>
                                                {% endfor %}
                                            </div>
                                            {% else %}
                                                {{ field.counter_field_name(class="form-control counter_field_name") }}
                                            {% endif %}
                                        </div>

                                        <div class="col-4 mt-3 mb-3">
                                            <b style="color:red">*</b>
                                            {{ field.counter_field_counterid.label(class="form-control-label") }}
                                            <a href="#"
                                               data-html="true"
                                               data-toggle="popover"
                                               data-trigger="hover"
                                               title="<center><b>CounterID</b>&nbsp(<i>Mandatory</i>)</center>"
                                               data-content="<center>The unique counter id, as that should be written to the pm xml report.<br>Example: M131B1C1</center>"><b>&nbsp?</b></a>
                                            {% if field.counter_field_counterid.errors %}
                                                {{ field.counter_field_counterid(class="form-control counter_field_counterid is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in field.counter_field_counterid.errors %}
                                                    <span>{{ error }} </span>
                                                {% endfor %}
                                            </div>
                                            {% else %}
                                                {{ field.counter_field_counterid(class="form-control counter_field_counterid") }}
                                            {% endif %}
                                        </div>

                                        <div class="col-4 mt-3 mb-3">
                                            <b style="color:red">*</b>
                                            {{ field.counter_field_objectdn.label(class="form-control-label") }}
                                            <a href="#"
                                               data-html="true"
                                               data-toggle="popover"
                                               data-trigger="hover"
                                               title="<center><b>ObjectDN</b>&nbsp(<i>Mandatory</i>)</center>"
                                               data-content="<center>The distinguished name for the measurement, that is used to write the pm xml report.<br>
                                               Important Note 1: This field should be the same for all counters that belong to the same measurement.<br>
                                                Important Note 2: This field cannot change once published from NIDD.<br>
                                                 Example: Host/ContId/ContType</center>"><b>&nbsp?</b></a>
                                            {% if field.counter_field_objectdn.errors %}
                                                {{ field.counter_field_objectdn(class="form-control counter_field_objectdn is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in field.counter_field_objectdn.errors %}
                                                    <span> {{ error }}</span>
                                                {% endfor %}
                                            </div>
                                            {% else %}
                                                {{ field.counter_field_objectdn(class="form-control counter_field_objectdn") }}
                                            {% endif %}
                                
                                        </div>   
                                    </div>
                                    <!-- end of Counter_name CounterID ObjectDN -->

                                    <!-- Description Updated -->
                                    <div class="form-row counter-descr-upd">
                                        <div class="col-6 mt-3 mb-3">
                                            <b style="color:red">*</b>
                                            {{ field.counter_field_description.label(class="form-control-label") }}
                                            <a href="#"
                                               data-html="true"
                                               data-toggle="popover"
                                               data-trigger="hover"
                                               title="<center><b>Description</b>&nbsp(<i>Mandatory</i>)</center>"
                                               data-content="<center>A short description for the counter.</center>"><b>&nbsp?</b></a>

                                            {% if field.counter_field_description.errors %}
                                                {{ field.counter_field_description(class="form-control counter_field_description is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in field.counter_field_description.errors %}
                                                    <span> {{ error }} </span>
                                                {% endfor %}
                                            </div>
                                            {% else %}
                                                {{ field.counter_field_description(class="form-control counter_field_net_aggregation") }}
                                            {% endif %}
                                        </div>

                                        <div class="col-6 mt-3 mb-3">
                                            {{ field.counter_field_updated.label(class="form-control-label") }}
                                            <a href="#"
                                               data-html="true"
                                               data-toggle="popover"
                                               data-trigger="hover"
                                               title="<center><b>Updated</b>&nbsp(<i>Optional</i>)</center>"
                                               data-content="<center>Short description of the event(s) causing the counter value to be updated.<br><i>Example</i>:  Updated when facility is activated</center>"><b>&nbsp?</b></a>
                                            {% if field.counter_field_updated.errors %}
                                                {{ field.counter_field_updated(class="form-control counter_field_updated is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in field.counter_field_updated %}
                                                    <span> {{ error }} </span>
                                                {% endfor %}
                                            </div>
                                            {% else %}
                                                {{ field.counter_field_updated(class="form-control counter_field_updated") }}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <!-- end of Description Updated -->

                                    <!-- Logical_type Net_aggregation Time_aggregation -->
                                    <div class="form-row counter-log-net-time">
                                        <div class="col-4 mt-3 mb-3">
                                            <b style="color:red">*</b>
                                            {{ field.counter_field_logical_type.label(class="form-control-label") }}
                                            <a href="#"
                                               data-html="true"
                                               data-toggle="popover"
                                               data-trigger="hover"
                                               title="<center><b>Logical Type</b>&nbsp(<i>Mandatory</i>)</center>"
                                               data-content="<center>This is the main aggregation method.</center>"><b>&nbsp?</b></a>

                                            {% if field.counter_field_logical_type.errors %}
                                                {{ field.counter_field_logical_type(class="form-control counter_field_logical_type is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in field.counter_field_logical_type.errors %}
                                                    <span> {{ error }} </span>
                                                {% endfor %}
                                            </div>
                                            {% else %}
                                                {{ field.counter_field_logical_type(class="form-control counter_field_logical_type") }}

                                            {% endif %}
                                        </div>

                                        <div class="col-4 mt-3 mb-3">
                                            <b style="color:red">*</b>
                                            {{ field.counter_field_net_aggregation.label(class="form-control-label") }}
                                            <a href="#"
                                               data-html="true"
                                               data-toggle="popover"
                                               data-trigger="hover"
                                               title="<center><b>Net aggregation</b>&nbsp(<i>Mandatory</i>)</center>"
                                               data-content="Network aggregation method."><b>&nbsp?</b></a>
                                            {% if field.counter_field_net_aggregation.errors %}
                                                {{ field.counter_field_net_aggregation(class="form-control counter_field_net_aggregation is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in field.counter_field_net_aggregation.errors %}
                                                    <span> {{ error }} </span>
                                                {% endfor %}
                                            </div>
                                            {% else %}
                                                {{ field.counter_field_net_aggregation(class="form-control counter_field_net_aggregation") }}
                                            {% endif %}
                                        </div>

                                        <div class="col-4 mt-3 mb-3">
                                            <b style="color:red">*</b>
                                            {{ field.counter_field_time_aggregation.label(class="form-control-label") }}
                                            <a href="#"
                                               data-html="true"
                                               data-toggle="popover"
                                               data-trigger="hover"
                                               title="<center><b>Time aggregation</b>&nbsp(<i>Mandatory</i>)</center>"
                                               data-content="Time aggregation function."><b>&nbsp?</b></a>

                                            {% if field.counter_field_time_aggregation.errors %}
                                                {{ field.counter_field_time_aggregation(class="form-control counter_field_time_aggregation is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in field.counter_field_time_aggregation.errors %}
                                                    <span> {{ error }} </span>
                                                {% endfor %}
                                            </div>
                                            {% else %}
                                                {{ field.counter_field_time_aggregation(class="form-control counter_field_time_aggregation") }}
                                            {% endif %}
                                        </div>              
                                    </div>
                                    <!-- end of Logical_type Net_aggregation Time_aggregation -->

                                    <!-- Original_release Status Trigger_type -->
                                    <div class="form-row counter-orig-stat-trig">
                                        <div class="col-4 mt-3 mb-3">
                                            <b style="color:red">*</b>
                                            {{ field.counter_field_original_release.label(class="form-control-label") }}
                                            <a href="#"
                                               data-html="true"
                                               data-toggle="popover"
                                               data-trigger="hover"
                                               title="<center><b>Original release</b>&nbsp(<i>Mandatory</i>)</center>"
                                               data-content="The release in which this counter is first introduced."><b>&nbsp?</b></a>

                                            {% if field.counter_field_original_release.errors %}
                                                {{ field.counter_field_original_release(class="form-control counter_field_original_release is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in field.counter_field_original_release.errors %}
                                                    <span> {{ error }} </span>
                                                {% endfor %}
                                            </div>
                                            {% else %}
                                                {{ field.counter_field_original_release(class="form-control counter_field_original_release") }}
                                            {% endif %}
                                        </div>

                                        <div class="col-4 mt-3 mb-3">
                                            <b style="color:red">*</b>
                                            {{ field.counter_field_status.label(class="form-control-label") }}
                                            <a href="#"
                                               data-html="true"
                                               data-toggle="popover"
                                               data-trigger="hover"
                                               title="<center><b>Status</b>&nbsp(<i>Mandatory</i>)</center>"
                                               data-content="<center>Use Insert for the newly introduced counters and Update for update operations.<br><i>Default value</i>: Insert</center>"><b>&nbsp?</b></a>

                                            {% if field.counter_field_status.errors %}
                                                {{ field.counter_field_status(class="form-control counter_field_status is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in field.counter_field_status.errors %}
                                                    <span> {{ error }} </span>
                                                {% endfor %}
                                            </div>
                                            {% else %}
                                                {{ field.counter_field_status(class="form-control counter_field_status") }}
                                            {% endif %}
                                        </div>

                                        <div class="col-4 mt-3 mb-3">
                                            <b style="color:red">*</b>
                                            {{ field.counter_field_trigger_type.label(class="form-control-label") }}
                                            <a href="#"
                                               data-html="true"
                                               data-toggle="popover"
                                               data-trigger="hover"
                                               title="<center><b>Trigger type</b>&nbsp(<i>Mandatory</i>)</center>"
                                               data-content="<center>Trigger_type is related on how a counter is triggered from a user's point of view.<br>
                                               Event – if counter incrementing is based on evente.g. Number of 200 OK messages.<br>
                                               Sample – if counter incrementing is based on samples. In this case the sampling interval is filled if applicable<br>
                                               .e.g. counter represents the Average number of registered subscribers in subscriber DB on VNF level during the measurement period.<br>
                                               Duration – if counter incrementing is based on timee.g. The cumulative duration of the unavailability of the association set in seconds for the whole measurement time.<br>
                                               This property is not used by either PM server nor NetAct to any calculations.<br>
                                               It is there as information to the end user in front of NetAct (PM app.).</center>"><b>&nbsp?</b></a>

                                            {% if field.counter_field_trigger_type.errors %}
                                                {{ field.counter_field_trigger_type(class="form-control counter_field_trigger_type is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in field.counter_field_trigger_type.errors %}
                                                    <span> {{ error }} </span>
                                                {% endfor %}
                                            </div>
                                            {% else %}
                                                {{ field.counter_field_trigger_type(class="form-control counter_field_trigger_type") }}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <!-- end of Original_release Status Trigger_type -->

                                    <!-- Unit Range Categories -->
                                    <div class="form-row counter-unit-range-cat">
                                        <div class="col-4 mt-3 mb-3">
                                            <b style="color:red">*</b>
                                            {{ field.counter_field_unit.label(class="form-control-label") }}
                                            <a href="#"
                                               data-html="true"
                                               data-toggle="popover"
                                               data-trigger="hover"
                                               title="<center><b>Unit</b>&nbsp(<i>Mandatory</i>)</center>"
                                               data-content="<center>The unit of the counter value.</center>"><b>&nbsp?</b></a>
                                            {% if field.counter_field_unit.errors %}
                                                {{ field.counter_field_unit(class="form-control counter_field_unit is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in field.counter_field_unit.errors %}
                                                    <span> {{ error }} </span>
                                                {% endfor %}
                                            </div>
                                            {% else %}
                                                {{ field.counter_field_unit(class="form-control counter_field_unit") }}
                                            {% endif %}
                                        </div>

                                        <div class="col-4 mt-3 mb-3">
                                            <b style="color:red">*</b>
                                            {{ field.counter_field_range.label(class="form-control-label") }}
                                            <a href="#"
                                               data-html="true"
                                               data-toggle="popover"
                                               data-trigger="hover"
                                               title="<center><b>Range</b>&nbsp(<i>Mandatory</i>)</center>"
                                               data-content="<center>Value Range.</center>"><b>&nbsp?</b></a>
                                            {% if field.counter_field_range.errors %}
                                                {{ field.counter_field_range(class="form-control counter_field_range is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in field.counter_field_range %}
                                                    <span> {{ error }} </span>
                                                {% endfor %}
                                            </div>
                                            {% else %}
                                                {{ field.counter_field_range(class="form-control counter_field_range") }}
                                            {% endif %}
                                        </div>

                                        <div class="col-4 mt-3 mb-3">
                                            <b style="color:red">*</b>
                                            {{ field.counter_field_categories.label(class="form-control-label") }}
                                            <a href="#"
                                               data-html="true"
                                               data-toggle="popover"
                                               data-trigger="hover"
                                               title="<center><b>Categories</b>&nbsp(<i>Mandatory</i>)</center>"
                                               data-content="<center>Indicates the category that the counter belong to.<br><i>Default value</i>: Customer</center>"><b>&nbsp?</b></a>
                                            {% if field.counter_field_categories.errors %}
                                                {{ field.counter_field_categories(class="form-control counter_field_categories is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in field.counter_field_categories %}
                                                    <span> {{ error }}</span>
                                                {% endfor %}
                                            </div>
                                            {% else %}
                                                {{ field.counter_field_categories(class="form-control counter_field_categories") }}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <!-- end of Unit Range Categories -->
                                </div>
                            </div>
                            <!-- end of Counter group fields -->

                            <!-- Counter group buttons -->
                            <div class="form-row counter-buttons mt-2 mb-2">
                                {% if loop.length == 1 %}                {# {%- if loop.index == 1 %} #}
                                <div class="col-md-1 offset-md-10">
                                    <button class="btn btn-sm btn-danger remove-counter" type="button">
                                        <i class="fas fa-trash-alt" ></i>
                                    </button>
                                </div>
                                {% endif %}

                                <div class="col-md-1">
                                    <button class="btn btn-sm btn-success add-counter" type="button">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- end of Counter group buttons -->

                                {% endfor %}
                        </div> <!-- end of Counter group -->

                    </div>
                </div>

                <!-- end ofCounter group rows -->

            </fieldset>

            <div class="form-group text-right">
                <div class="form-row">
                    <div class="col-md-1">
                        <button class="btn btn-sm btn-secondary reset-counter" type="button">
                            <i class="fas fa-undo"></i>
                        </button>
                    </div>
                    <div class="col-md-4 offset-md-7">
                        {{ form.submit(class="btn btn-outline-info mr-3") }}
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
