@import url("//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");

body {
  background: #eee url(https://subtlepatterns.com/patterns/extra_clean_paper.png);
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #124191;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
  padding-left:15px;
  padding-right:15px;
  font-size: 1.25em;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.popover {
  max-width: 80%;
}

#logo {
  font-family: 'Nokia Pure', serif;
  color: #555;
  text-decoration: none;
  font-size: 45px;
  font-weight: 500;
  letter-spacing: -3px;
  line-height: 1;
  text-shadow: #EDEDED 3px 2px 0;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.expand-button {
    min-width:24pt;
  }